<nav class="navbar fixed-top bg-transparent">
  <span class="navbar-brand mb-0 h1 ms-4 p-auto"><img src="/public/img/logo_niels_world22.png" class="my-auto" alt="niels world icon" style="width: 30px" /> <strong>Niel's World</strong> </span>
  <ul class="nav justify-content-end">
    <li class="nav-item mb-2 mb-2">
      <a class="nav-link text-reset navi-button" href="/">Home</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-reset navi-button" href="/about">About</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link text-reset navi-button" href="/feeds">Feeds</a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link pb-0 text-reset navi-button" href="/giganticz" target="_blank">Business</a>
      <div class="row">
        <div class="col-md ms-3 text-warning"><small class="coming-soon-label">Coming Soon</small></div>
      </div>
    </li>
    <!-- <li class="nav-item mb-2">
      <a class="nav-link text-reset" href="#">Digital Art</a>
    </li> -->
    <!-- <li class="nav-item mb-2">
      <a class="nav-link text-reset navi-button" href="/knowledge">Knowledge</a>
    </li> -->
    <!-- <li class="nav-item mb-2">
      <a class="nav-link text-reset" href="#">Entertainment</a>
    </li> -->
    <li class="nav-item mb-2 dropdown login-path me-3"></li>
  </ul>
</nav>
