<!-- <nav class="navbar navbar-light bg-white fixed-top">
  <span class="navbar-brand mb-0 h1 ms-4">Niel's World</span>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link text-reset navi-button" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-reset navi-button" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-reset navi-button" href="/feeds">Feeds</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-reset" href="#">Digital Art</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-reset navi-button" href="/knowledge">Knowledge</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-reset" href="#">Entertainment</a>
    </li>
    <li class="nav-item dropdown login-path me-3"></li>
  </ul>
</nav> -->

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>
