<nav class="navbar navbar-light bg-white fixed-top">
  <span class="navbar-brand mb-0 h1 ms-4">Niel's World</span>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link text-reset navi-button" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-reset navi-button" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-reset navi-button" href="/feeds">Feeds</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link text-reset" href="#">Digital Art</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link text-reset navi-button" href="/knowledge">Knowledge</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link text-reset" href="#">Entertainment</a>
    </li> -->
    <li class="nav-item dropdown login-path me-3"></li>
  </ul>
</nav>
