<section>
  <div class="container my-5">
    <div id="google_translate_element"></div>
    <br /><br /><br /><br /><br />
    <div class="row">
      <div class="col-md-6 my-4 pt-3 box-part">
        <h1 class="display-6 fw-bold text-center">Daniel Dwipaskawijaya Kamasi</h1>
        <p class="fs-5 text-black-50 fw-normal text-center">Research | Software Development | Digital Art</p>
        <p class="px-4">
          Saya adalah pria 27 tahun kelahiran Wamena, Jayapura, Indonesia. Saya sempat menghabiskan masa kecil saya di Kota Tangerang, Banten, Indonesia, hingga akhirnya pindah ke Kota Makassar, Sulawesi Selatan, Indonesia. Saya menetap di
          Kota Makassar selama kurang lebih 16 tahun lalu berpindah ke Kota Malang, Jawa Timur, Indonesia, tempat saya berada sekarang.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img src="../public/img/Thumbnail.jpg" class="img-thumbnail rounded-circle border-dark" alt="photo" />
      </div>
    </div>
  </div>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 mx-auto p-3 box-part">
        <p class="fs-4 text-center">Kontak dan Media Sosial</p>
        <div class="text-center">
          <!-- Add font awesome icons -->
          <a href="https://www.facebook.com/danieldwipaska" class="fa fa-facebook mb-1" target="_blank"></a>
          <a href="https://twitter.com/danieldwipaska" class="fa fa-twitter mb-1" target="_blank"></a>
          <a href="https://www.instagram.com/danieldwipaska/" class="fa fa-instagram mb-1" target="_blank"></a>
          <a href="https://www.youtube.com/channel/UCtIhpJe7f28PXyF-a0ktGBQ" class="fa fa-youtube mb-1" target="_blank"></a>
          <a href="https://mail.google.com/mail/?view=cm&to=scientificallychristian@gmail.com&su=SUBJECT&body=BODY&bcc=nielscience@gmail.com" class="fa fa-google mb-1" target="_blank"></a>
          <a href="https://www.linkedin.com/in/daniel-kamasi-2aa910157/" class="fa fa-linkedin mb-1" target="_blank"></a>
          <a href="https://join.skype.com/invite/xysXROeHBoxs" class="fa fa-skype mb-1" target="_blank"></a>
        </div>
        <br />
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <p class="fs-4 text-center">Github Repo</p>
            <div class="text-center">
              <a href="https://github.com/danieldwipaska" class="fa fa-github mb-1" target="_blank"></a>
            </div>
          </div>
          <div class="col-md-4">
            <p class="fs-4 text-center">Digital Art Gallery</p>
            <div class="text-center">
              <a href="https://www.instagram.com/nielnimation/" class="fa fa-instagram mb-1" target="_blank"></a>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 mb-5 mx-auto p-3 box-part">
        <h1 class="text-center">Kemampuan Bahasa</h1>
        <p class="text-center text-muted">satuan nilai dari 0 sampai 100 jika dikonversi ke angka</p>
        <br />
        <div>
          <canvas id="myChart1" width="546px" height="400px"></canvas>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-8 mb-5 px-5 mx-auto box-part">
        <h1 class="text-center">Keterampilan Teknis</h1>
        <p class="text-center text-muted">berdasarkan pengalaman menulis kode dalam proyek dan latihan</p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6 p-3 text-center box-part">
        <h3 class="mt-2">Framework</h3>
        <div class="col-md-6 m-2 border-top border-secondary box-part"></div>
        <br />
        <h6 class="mt-2" style="background-color: rgb(166, 219, 166)">&emsp;Lebih dari 3000 baris kode:</h6>
        <p class="fs-6">&emsp;NodeJS, ExpressJS, Bootstrap, MongoDB</p>
        <h6 style="background-color: rgb(221, 221, 166)">&emsp;Lebih dari 1000 baris kode:</h6>
        <p class="fs-6">&emsp;PostgreSQL, Git, Github</p>
        <h6 style="background-color: rgb(238, 183, 183)">&emsp;Familiar</h6>
        <p class="fs-6">&emsp;Redis, Linux CLI, Powershell</p>
      </div>
      <div class="col-md-6 p-3 text-center box-part">
        <h3 class="mt-2">Bahasa Pemrograman</h3>
        <div class="col-md-6 mx-auto border-top border-secondary"></div>
        <br />
        <h6 class="mt-2" style="background-color: rgb(166, 219, 166)">&emsp;Lebih dari 3000 baris kode:</h6>
        <p class="fs-6">&emsp;Javascript, Embedded System</p>
        <h6 style="background-color: rgb(221, 221, 166)">&emsp;Lebih dari 1000 baris kode:</h6>
        <p class="fs-6">&emsp;HTML, CSS, SQL, MATLAB</p>
        <h6 style="background-color: rgb(238, 183, 183)">&emsp;Familiar:</h6>
        <p class="fs-6">&emsp;TypeScript, C#</p>
      </div>
    </div>
  </div>
</section>
<section class="timeline">
  <div class="container-md py-5 text-center">
    <h1 class="display-6">Pengalaman Kerja dan Organisasi</h1>
  </div>
  <div class="container-md py-5 text-center">
    <div class="row mx-auto">
      <div class="col-md-3"></div>
      <div class="col-md-2 mx-1" style="background-color: #f8939c">Pendidikan Formal</div>
      <div class="col-md-2 mx-1" style="background-color: #ffcc66">Kerja</div>
      <div class="col-md-2 mx-1" style="background-color: #ffeecc">Organisasi</div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <div class="container-md">
    <ul>
      <li>
        <div id="year-tl" class="rounded-3">
          <time><h1 class="text-center">2013</h1></time>
        </div>
      </li>
      <li>
        <div id="degree-tl" class="rounded-3">
          <time class="fs-5"><strong>Terdaftar Fisika (S-1)</strong></time>
          <p class="fs-6">Universitas Brawijaya</p>
        </div>
      </li>
      <li>
        <div id="year-tl" class="rounded-3">
          <time><h1 class="text-center">2014</h1></time>
        </div>
      </li>
      <li>
        <div id="org-tl" class="rounded-3">
          <time class="fs-5"><strong>Badan Eksekutif Mahasiswa (BEM) FMIPA UB</strong></time>
          <p class="text-muted"><small>Staff Kebijakan Publik</small></p>
          <p>Menyiapkan data untuk materi diskusi dan kajian politik.<br /><br />Menyelenggarakan acara seminar/diskusi politik.<br /><br />Menyuarakan aspirasi mahasiswa atas ketidaknyamanan terhadap birokrasi.</p>
        </div>
      </li>
      <li>
        <div id="year-tl" class="rounded-3">
          <time><h1 class="text-center">2015</h1></time>
        </div>
      </li>
      <li>
        <div id="org-tl" class="rounded-3">
          <time class="fs-5"><strong>SOBAT FMIPA UB</strong></time>
          <p class="text-muted"><small>Staff Divisi Kreatif Homeband</small></p>
          <p>Menyelenggarakan Konser Musik, yakni membuat rundown acara dan menjadi pendamping Guest Star.</p>
        </div>
      </li>
      <li>
        <div id="org-tl" class="rounded-3">
          <time class="fs-5"><strong>Synthetic Biology UB</strong></time>
          <p class="text-muted"><small>Staff HRD</small></p>
          <p>Melakukan screening calon staff. <br /><br />Melakukan research untuk kompetisi iGEM.</p>
        </div>
      </li>
      <li>
        <div id="org-tl" class="rounded-3">
          <time class="fs-5"><strong>MOST FMIPA UB</strong></time>
          <p class="text-muted"><small>Ketua Divisi Human Practice</small></p>
          <p>Menyelenggarakan acara bertema sosial dan voluntering. <br /><br />Menyelenggarakan dan mengikuti pelatihan dasar Pemrograman Java.</p>
        </div>
      </li>
      <li>
        <div id="org-tl" class="rounded-3">
          <time class="fs-5"><strong>Eksekutif Mahasiswa (EM) UB</strong></time>
          <p class="text-muted"><small>Staff Kebijakan Publik</small></p>
          <p>Mengumpulkan data sebagai bahan kajian politik. <br /><br />Menyuarakan aspirasi mahasiswa terhadap birokrasi.</p>
        </div>
      </li>
      <li>
        <div id="year-tl" class="rounded-3">
          <time><h1 class="text-center">2016</h1></time>
        </div>
      </li>
      <li>
        <div id="work-tl" class="rounded-3">
          <time class="fs-5"><strong>Laboratorium Fisika Dasar & Fisika Eksperimen</strong></time>
          <p class="fs-6"></p>
        </div>
      </li>
      <li>
        <div id="work-tl" class="rounded-3">
          <time class="fs-5"><strong>Prime Generation</strong></time>
          <p class="text-muted"><small>Tutor dan Staff Marketing</small></p>
          <p>Mengajar Fisika tingkat SMP dan SMA. <br /><br />Melakukan sosialisasi dan marketing ke SD dan SMP setempat.</p>
        </div>
      </li>
      <li>
        <div id="org-tl" class="rounded-3">
          <time class="fs-5"><strong>Himpunan Mahasiswa Fisika (HIMAFIS) UB</strong></time>
          <p class="text-muted"><small>Staff Divisi Hubungan Luar</small></p>
          <p>Menyelenggarakan studi ekskursi mahasiswa Fisika ke berbagai lembaga penelitian di Indonesia. <br /><br />Melakukan koordinasi antar organisasi kampus.</p>
        </div>
      </li>
      <li>
        <div id="year-tl" class="rounded-3">
          <time><h1 class="text-center">2017</h1></time>
        </div>
      </li>
      <li>
        <div id="work-tl" class="rounded-3">
          <time class="fs-5"
            ><strong>International Chemical Industry <small>(internship)</small></strong></time
          >
          <p class="text-muted"><small>Quality Control</small></p>
          <p>Mengikuti demo pembuatan batu baterai. <br /><br />Melakukan penelitian bertema Fisika.</p>
        </div>
      </li>
      <li>
        <div id="degree-tl" class="rounded-3">
          <time class="fs-5"><strong>Mendapat Gelar S.Si</strong></time>
          <p class="fs-6">Fisika, Universitas Brawijaya</p>
        </div>
      </li>
      <li>
        <div id="year-tl" class="rounded-3">
          <time><h1 class="text-center">2018</h1></time>
        </div>
      </li>
      <li>
        <div id="work-tl" class="rounded-3">
          <time class="fs-5"><strong>English Cafe</strong></time>
          <p class="text-muted"><small>Tutor</small></p>
          <p>Mengajar Grammar Bahasa Inggris.</p>
        </div>
      </li>
      <li>
        <div id="degree-tl" class="rounded-3">
          <time class="fs-5"><strong>Terdaftar Fisika (S-2)</strong></time>
          <p class="fs-6">Universitas Brawijaya</p>
        </div>
      </li>
      <li>
        <div id="year-tl" class="rounded-3">
          <time><h1 class="text-center">2019</h1></time>
        </div>
      </li>
      <li>
        <div id="degree-tl" class="rounded-3">
          <time class="fs-5"><strong>Terdaftar Fisika (S-3)</strong></time>
          <p class="fs-6">Universitas Brawijaya</p>
        </div>
      </li>
      <li>
        <div id="year-tl" class="rounded-3">
          <time><h1 class="text-center">2020</h1></time>
        </div>
      </li>
      <li>
        <div id="degree-tl" class="rounded-3">
          <time class="fs-5"><strong>Mendapat Gelar M.Si</strong></time>
          <p class="fs-6">Fisika, Universitas Brawijaya</p>
        </div>
      </li>

      <!-- more list items here -->
    </ul>
  </div>

  <br /><br /><br />
</section>
<section>
  <div class="container py-5">
    <h2 class="display-4 text-center">Pengalaman Penelitian</h2>
    <br /><br />
    <div class="row">
      <div class="col-md-4 mx-auto">
        <ul>
          <li><a href="https://iopscience.iop.org/article/10.1088/1742-6596/1528/1/012020/meta" target="_blank">https://iopscience.iop.org/article/10.1088/1742-6596/1528/1/012020/meta</a></li>
          <li><a href="https://aip.scitation.org/doi/abs/10.1063/5.0014506" target="_blank">https://aip.scitation.org/doi/abs/10.1063/5.0014506</a></li>
          <li><a href="https://iopscience.iop.org/article/10.1088/1757-899X/546/4/042040/meta" target="_blank">https://iopscience.iop.org/article/10.1088/1757-899X/546/4/042040/meta</a></li>
          <li><a href="https://aip.scitation.org/doi/abs/10.1063/1.5141638" target="_blank">https://aip.scitation.org/doi/abs/10.1063/1.5141638</a></li>
          <li><a href="https://iopscience.iop.org/article/10.1088/1742-6596/1428/1/012060" target="_blank">https://iopscience.iop.org/article/10.1088/1742-6596/1428/1/012060</a></li>
          <li><a href="https://iopscience.iop.org/article/10.1088/1757-899X/546/4/042029" target="_blank">https://iopscience.iop.org/article/10.1088/1757-899X/546/4/042029</a></li>
          <li><a href="https://aip.scitation.org/doi/abs/10.1063/5.0032545" target="_blank">https://aip.scitation.org/doi/abs/10.1063/5.0032545</a></li>
          <li><a href="https://iopscience.iop.org/article/10.1088/1742-6596/2110/1/012008" target="_blank">https://iopscience.iop.org/article/10.1088/1742-6596/2110/1/012008</a></li>
          <li><a href="https://aip.scitation.org/doi/abs/10.1063/5.0072451" target="_blank">https://aip.scitation.org/doi/abs/10.1063/5.0072451</a></li>
          <li><a href="https://www.sciencedirect.com/science/article/pii/S2214785320391033" target="_blank">https://www.sciencedirect.com/science/article/pii/S2214785320391033</a></li>
          <li><a href="https://www.sciencedirect.com/science/article/pii/S2214785319305450" target="_blank">https://www.sciencedirect.com/science/article/pii/S2214785319305450</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <h2 class="display-4 text-center">Sertifikat dan Penghargaan</h2>
      </div>
    </div>
    <br /><br />
    <div class="certificate">
      <div class="row">
        <!-- <div class="col-md-2 text-center"></div> -->
        <div class="col-md text-center">
          <a href="#" class="thumbnail">
            <img src="../public/img/Sert HIMAFIS.jpg" alt="Staff Hubungan Eksternal HIMAFIS" width="100px" />
          </a>
        </div>
        <div class="col-md text-center">
          <a href="#" class="thumbnail">
            <img src="../public/img/Sert IGEM.jpg" alt="Gold Medal IGEM" width="100px" />
          </a>
        </div>
        <!-- <div class="col-md-1 text-center"></div> -->
        <div class="col-md text-center">
          <a href="#" class="thumbnail">
            <img src="../public/img/Sert ISFAP.png" alt="Seminar Internasional" width="100px" />
          </a>
        </div>
        <div class="col-md text-center">
          <a href="#" class="thumbnail">
            <img src="../public/img/Sert IT.jpg" alt="Microsoft Office Certificate" width="100px" />
          </a>
        </div>
      </div>
    </div>
    <br /><br /><br /><br />
  </div>
</section>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01" />

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
  <!-- The Close Button -->
  <span class="close">&times;</span>
</div>

<script>
  function isElementInViewport(el) {
    const rect = el.getBoundingClientRect();
    return rect.top >= 0 && rect.left >= 0 && rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && rect.right <= (window.innerWidth || document.documentElement.clientWidth);
  }
  const items = document.querySelectorAll('.timeline li');

  // code for the isElementInViewport function

  function callbackFunc() {
    for (let i = 0; i < items.length; i++) {
      if (isElementInViewport(items[i])) {
        items[i].classList.add('in-view');
      }
    }
  }

  window.addEventListener('load', callbackFunc);
  window.addEventListener('scroll', callbackFunc);

  // Get the modal
  const modal = document.getElementById('myModal');
  const modalImg = document.getElementById('img01');
  const captionText = document.getElementById('caption');

  const certif = document.querySelector('.certificate');
  const thumbs = certif.querySelectorAll('.thumbnail');
  thumbs.forEach((el) => {
    el.addEventListener('click', function (e) {
      e.preventDefault();
      modal.style.display = 'block';
      modalImg.src = e.target.src;
      captionText.innerHTML = e.target.alt;
    });
  });
  // Get the <span> element that closes the modal
  const span = document.getElementsByClassName('close')[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = 'none';
  };
</script>
<script src="../public/script/aboutScript.js"></script>
<script>
  const head = document.querySelector('head');
  const link = document.createElement('link');
  link.setAttribute('rel', 'stylesheet');
  link.setAttribute('href', '../public/css/style.css');
  head.appendChild(link);
</script>
