<div class="container my-5 py-5">
  <a href="#"><button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">+ Add a category</button></a>
  <div class="row">
    <% cats.forEach( (e) => { %>
    <div class="card my-3 mx-auto post-cards border-0 bg-transparent">
      <div class="row g-0 p-2 box-part">
        <div class="col-md-8 mx-auto">
          <div class="card-body">
            <h5 class="card-title"><%= e.name %></h5>
          </div>
        </div>
      </div>
    </div>

    <% }) %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add a category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="form" action="/api/categories" method="post">
        <div class="modal-body">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="maksimal 50 karakter" required />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kembali</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
