<section id="jumbotron" class="my-5">
  <div class="container">
    <div class="row jumbotron shadow mx-1 my-3 bg-white bg-opacity-75 rounded-5">
      <div class="col-md-8 my-auto px-5 py-3 text-center">
        <h4 class="text-dark"></h4>
        <h1><em class="text-danger">BIG SIZE</em> <span class="text-dark">Sweater</span></h1>
        <p class="text-dark">Toko Buka <strong>Pukul 08.00 - 16.00 WIB</strong></p>
        <button type="button" class="btn btn-dark text-light">Produk Tersedia</button>
        <button type="button" class="btn btn-outline-dark">Kontak</button>
      </div>
      <div class="col-md my-auto jumbotron-image mx-auto">
        <img src="/public/img/hoodie_design_all.png" alt="hoodie_design_all" width="300px" />
      </div>
    </div>
  </div>
</section>
