<section id="gg-jumbotron" class="my-5">
  <div class="container">
    <div class="row gg-jumbotron shadow mx-1 my-3 bg-white rounded-5">
      <div class="col-md-7 my-auto px-5 py-5">
        <h1 class="display-1"><strong>Giganticz</strong></h1>
        <h1><span class="text-danger">BIG SIZE</span> <span class="text-dark">Sweater</span></h1>
        <p class="text-muted">
          Kami menyediakan sweater berukuran BIG SIZE yang cocok untuk kamu yang memiliki postur tubuh yang lebih besar dari orang pada umumnya. Dengan desain tematik yang elegan dan bahan 100% katun, kami selalu berusaha untuk menyajikan
          High Quality Sweater yang terbaik untuk anda.
        </p>
        <p class="text-dark">Toko ini <strong>BELUM BUKA</strong></p>

        <a href="#gg-offer"><button type="button" class="btn btn-dark text-light">Produk Tersedia</button></a>
        <a href="#gg-contact"><button type="button" class="btn btn-outline-dark">Kontak</button></a>
      </div>
      <div class="col-md my-auto py-5 jumbotron-image">
        <img src="/public/img/hoodie_design_all.png" alt="hoodie_design_all" class="image-fluid mx-auto" />
      </div>
    </div>
  </div>
</section>
<section id="gg-offer">
  <div class="container">
    <div class="row gg-offer-title my-3 py-2">
      <div class="col-md-6 mx-auto">
        <h1 class="text-center">What We Offer</h1>
        <p class="text-center text-muted">Sweater yang hangat pada malam hari dan sejuk pada siang hari dengan desain simple dan minimalis</p>
      </div>
    </div>
    <div class="row gg-offer-content mb-3">
      <div class="col-md mx-auto">
        <div class="row my-3">
          <div class="col-md-6 mx-auto shadow bg-white product-box">
            <div class="row">
              <div class="col-md-7 my-auto px-5 py-5">
                <h4><span class="text-dark">Sweater Pokemon (Merah)</span></h4>
                <p class="text-muted">Berbahan katun halus dengan desain pokemon di bagian kiri atas sweater, tersedia dalam ukuran:</p>
                <button type="button" class="btn btn-dark text-light">Pesan Sekarang</button>
                <button type="button" class="btn btn-outline-dark">Lihat</button>
              </div>
              <div class="col-md my-auto py-5">
                <img src="/public/img/Sweater Agumon Maroon.png" alt="hoodie_design_all" class="mx-auto image-fluid" />
              </div>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-md mx-2 shadow bg-white product-box">
            <div class="row">
              <div class="col-md-7 my-auto px-5 py-5">
                <h4><span class="text-dark">Sweater Pokemon (Hitam)</span></h4>
                <p class="text-muted">Berbahan katun halus dengan desain pokemon di bagian kiri atas sweater, tersedia dalam ukuran:</p>
                <button type="button" class="btn btn-dark text-light">Pesan Sekarang</button>
                <button type="button" class="btn btn-outline-dark">Lihat</button>
              </div>
              <div class="col-md my-auto py-5">
                <img src="/public/img/Sweater Agumon Hitam 2.png" alt="hoodie_design_all" class="mx-auto image-fluid" />
              </div>
            </div>
          </div>
          <div class="col-md mx-2 shadow bg-white product-box">
            <div class="row">
              <div class="col-md-7 my-auto px-5 py-5">
                <h4><span class="text-dark">Sweater Pokemon (Putih)</span></h4>
                <p class="text-muted">Berbahan katun halus dengan desain pokemon di bagian kiri atas sweater, tersedia dalam ukuran:</p>
                <button type="button" class="btn btn-dark text-light">Pesan Sekarang</button>
                <button type="button" class="btn btn-outline-dark">Lihat</button>
              </div>
              <div class="col-md my-auto py-5">
                <img src="/public/img/Sweater Agumon Putih 2.png" alt="hoodie_design_all" class="mx-auto image-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="gg-contact">
  <div class="container mb-5">
    <div class="row gg-contact-title my-3">
      <div class="col-md-6 mx-auto">
        <h1 class="text-center">Contact Us</h1>
        <p class="text-center text-muted">Hubungi Social Media kami jika ingin tanya-tanya dulu</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md text-center">
        <!-- Add font awesome icons -->
        <a href="https://www.facebook.com/danieldwipaska" class="fa fa-facebook mb-2 mx-2" target="_blank"></a>
        <a href="https://twitter.com/danieldwipaska" class="fa fa-twitter mb-2 mx-2" target="_blank"></a>
        <a href="https://www.instagram.com/danieldwipaska" class="fa fa-instagram mb-2 mx-2" target="_blank"></a>
        <a href="https://mail.google.com/mail/?view=cm&to=scientificallychristian@gmail.com&su=SUBJECT&body=BODY&bcc=nielscience@gmail.com" class="fa fa-google mb-2 mx-2" target="_blank"></a>
        <a href="https://www.linkedin.com/in/daniel-kamasi-453070247" class="fa fa-linkedin mb-2 mx-2" target="_blank"></a>
        <a href="https://join.skype.com/invite/xysXROeHBoxs" class="fa fa-skype mb-2 mx-2" target="_blank"></a>
      </div>
    </div>
  </div>
</section>
