<section id="jumbotron" class="my-3">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="row">
          <div class="col-md"></div>
          <div class="col-md-10">
            <img src="/public/img/jumbotron_no_background.png" class="image-fluid" alt="jumbotron_no_background" />
          </div>
        </div>
      </div>
      <div class="col-md-6 px-2 my-auto">
        <div class="landing-head">
          <h1 class="display-5">I'm <strong class="text-info">Daniel Kamasi</strong></h1>
        </div>
        <div class="landing-desc">
          <p class="fs-3">Back-End Developer</p>
        </div>
        <div class="landing-subdesc">
          <p class="text-muted">I'm building a Web Application, focussing on Back-End Development. Please check my Curriculum Vitae below for more information about me.</p>
        </div>
        <br />
        <div class="jumbotron-button">
          <a href="/about" class="btn btn-info porto-button mx-2" role="button" aria-pressed="true">Curriculum Vitae</a>
          <a href="https://github.com/danieldwipaska" class="btn btn-secondary github-button text-black" role="button" aria-pressed="true" target="_blank">Projects on Github</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container py-5">
    <div class="row">
      <div class="col-md">
        <h4>My <span class="text-info">Services</span></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h1 class="display-6">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>
          What I <span class="text-info">Do</span>
        </h1>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-10 mx-auto">
        <div class="row">
          <div class="col-md text-center whatido-box px-3 py-1 mx-2 rounded-3">
            <img src="/public/img/web_design_icon(1).png" alt="web_design_icon" width="100px" />
            <p>Web Design</p>
            <p class="text-muted"><small>Providing simple designs for any types of static websites like Personal Blogs, Company Profiles, and many more, using Bootstrap framework.</small></p>
          </div>
          <div class="col-md text-center whatido-box px-3 py-1 mx-2 rounded-3">
            <img src="/public/img/web_app_icon(1).png" alt="web_app_icon" width="100px" />
            <p>Back-End Application</p>
            <p class="text-muted"><small>Building server-side applications like REST APIs, Telegram Bots, Database Management, and many more, using Node JS</small></p>
          </div>
          <div class="col-md text-center whatido-box px-3 py-1 mx-2 rounded-3">
            <img src="/public/img/data_entry_logo(1).png" alt="data_entry_logo" width="100px" />
            <p>Data Entry & Copy Typing</p>
            <p class="text-muted"><small>Doing office jobs like Data Entry, Copy Typing, and many more that are related to administration and the usage of Microsoft Office</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="feeds">
  <div class="container py-5">
    <div class="section-part">
      <div class="row">
        <div class="col-md">
          <h4>My <span class="text-info">Blogs</span></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <h1 class="display-6">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
            What I <span class="text-info">Currently Wrote</span>
          </h1>
        </div>
      </div>
    </div>
    <br />
    <div class="row latest-feeds">
      <% post.forEach((e) => { %>
      <div class="col-sm-3 my-2">
        <div class="card border-0">
          <div class="card-body">
            <h5 class="card-title"><%= e.title %></h5>
            <!-- <p><small>e.dateCreated.toLocaleDateString()</small></p> -->
            <a href="/feeds/<%= e.slug %>" class="btn btn-info">Read more</a>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md-3 more-article-button">
        <a href="/feeds" target="_blank"
          ><h3>
            <strong class="text-light">More <span class="text-info">articles..</span></strong>
          </h3></a
        >
      </div>
    </div>
  </div>
</section>

<section id="services-none" style="display: none">
  <div class="container py-5">
    <h1 class="display-6">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
      </svg>
      Services
    </h1>
    <br />
    <div class="row">
      <div class="col-sm-6">
        <div class="card text-dark bg-light">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-dark bg-light">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  const head = document.querySelector('head');
  const link = document.createElement('link');
  link.setAttribute('rel', 'stylesheet');
  link.setAttribute('href', '../../public/css/style.css');
  head.appendChild(link);
  const link2 = document.createElement('link');
  link2.setAttribute('rel', 'stylesheet');
  link2.setAttribute('href', '../../public/css/index_style.css');
  head.appendChild(link2);
</script>
