<section id="jumbotron" class="my-5">
  <div class="container">
    <br /><br /><br /><br /><br /><br />
    <div class="row text-center">
      <div class="col-md-2"></div>
      <div class="col-md-8 px-2 py-5 box-part">
        <div class="landing-head">
          <h1 class="display-5"><img src="/public/img/logo_niels_world22.png" class="my-auto" alt="niels world icon" style="width: 60px" /> <strong>NIEL'S WORLD</strong></h1>
        </div>
        <div class="landing-desc">
          <p class="fs-3">Portfolio | Blog | Knowledge</p>
        </div>
        <br />
        <div class="jumbotron-button">
          <a href="/about" class="btn btn-outline-dark porto-button" role="button" aria-pressed="true">My Portfolio</a>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
<br /><br /><br />
<section id="feeds">
  <div class="container py-5">
    <div class="section-part">
      <h1 class="display-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg>
        Latest Feeds
      </h1>
    </div>
    <br />
    <div class="row latest-feeds">
      <% post.forEach((e) => { %>
      <div class="col-sm-6 my-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= e.title %></h5>
            <p><small><%= e.dateCreated.toLocaleDateString() %></small></p>
            <p class="card-text"><%= e.desc %></p>
            <a href="/feeds/<%= e.slug %>" class="btn btn-outline-dark">Read more</a>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <br /><br />
  </div>
</section>
<section id="services" style="display: none">
  <div class="container py-5">
    <h1 class="display-6">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
      </svg>
      Services
    </h1>
    <br />
    <div class="row">
      <div class="col-sm-6">
        <div class="card text-dark bg-light">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-dark bg-light">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  const head = document.querySelector('head');
  const link = document.createElement('link');
  link.setAttribute('rel', 'stylesheet');
  link.setAttribute('href', '../../public/css/style.css');
  head.appendChild(link);
  const link2 = document.createElement('link');
  link2.setAttribute('rel', 'stylesheet');
  link2.setAttribute('href', '../../public/css/index_style.css');
  head.appendChild(link2);
</script>
