<section id="jumbotron" class="my-5">
  <div class="container">
    <br /><br /><br /><br /><br /><br />
    <div class="row text-center">
      <div class="col-md-2"></div>
      <div class="col-md-8 px-2 py-5 box-part">
        <div class="landing-head">
          <h1 class="display-5"><svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16">
            <path
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"
            />
          </svg> <strong>NIEL'S WORLD</strong></h1>
        </div>
        <div class="landing-desc">
          <p class="fs-3">Portfolio | Blog | Knowledge</p>
        </div>
        <br />
        <div class="jumbotron-button">
          <a href="/about" class="btn btn-outline-dark porto-button" role="button" aria-pressed="true">My Portfolio</a>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
<br /><br /><br />
<section id="feeds">
  <div class="container py-5">
    <div class="section-part">
      <h1 class="display-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg>
        Latest Feeds
      </h1>
    </div>
    <br />
    <div class="row latest-feeds">
      <% post.forEach((e) => { %>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= e.title %></h5>
              <p><small><%= e.dateCreated.toLocaleDateString() %></small></p>
              <p class="card-text"><%= e.desc %></p>
              <a href="/feeds/<%= e.slug %>" class="btn btn-outline-dark">Read more</a>
            </div>
          </div>
        </div>
        <% }); %>
    </div>
    <br /><br />
  </div>
</section>
<section id="services" style="display: none;">
  <div class="container py-5">
    <h1 class="display-6">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
      </svg>
      Services
    </h1>
    <br />
    <div class="row">
      <div class="col-sm-6">
        <div class="card text-dark bg-light">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-dark bg-light">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="information" style="display: none;">
  <div class="container py-5">
    <h1 class="display-6">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
      </svg>
      Information
    </h1>
    <br>
    <div class="card-group">
      <div class="card">
        <img src="../public/img/economics.png" class="card-img-top" alt="environment logo">
        <div class="card-body">
          <h5 class="card-title">Economics</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.\</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="../public/img/tech.png" class="card-img-top" alt="technology logo">
        <div class="card-body">
          <h5 class="card-title">Technology</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="../public/img/envi.png" class="card-img-top" alt="environment logo">
        <div class="card-body">
          <h5 class="card-title">Environment</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
  </div>
</section>
<section id="knowledge" style="display: none;">
  <div class="container py-5">
    <h1 class="display-6">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
      </svg>
      Knowledge
    </h1>
    <br>
    <div class="card-group m-auto">
      <div class="card">
        <img src="../public/img/physics_books.png" class="card-img-top" alt="environment logo" />
        <div class="card-body">
          <h5 class="card-title">Physics</h5>
          <p class="card-text">Fisika membahas tentang hukum-hukum alam yang berlaku di alam semesta. Masalah yang berkaitan dengan fenomena-fenomena lingkungan dapat dipecahkan dengan pendekatan Fisika.</p>
          <p class="card-text"><small class="text-muted">Kuliah Fisika</small></p>
        </div>
      </div>
      <div class="card">
        <img src="../public/img/electronics_logo.png" class="card-img-top" alt="technology logo" />
        <div class="card-body">
          <h5 class="card-title">Electronics</h5>
          <p class="card-text">Elektronika membahas tentang segala peristiwa kelistrikan. Ilmu elektronika mampu menyelesaikan permasalahan kelistrikan sekaligus membuat inovasi yang kreatif.</p>
          <p class="card-text"><small class="text-muted">Kuliah Elektronika</small></p>
        </div>
      </div>
      <div class="card">
        <img src="../public/img/www_logo.png" class="card-img-top" alt="environment logo" />
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <p class="card-text">Internet telah menjadi sarana kita dalam bertukar informasi. Kemampuan internet dalam menjangkau orang-orang di seluruh dunia memicu pengembangan web yang inovatif.</p>
          <p class="card-text"><small class="text-muted">Kuliah Pengembangan Web</small></p>
        </div>
      </div>
    </div>
</section>
<section id="entertainment" style="display: none;">
  <div class="container py-5">
    <h1 class="display-6">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
      </svg>
      Entertainment
    </h1>
  </div>
</section>
<script>
  const head = document.querySelector('head');
  const link = document.createElement('link');
  link.setAttribute('rel', 'stylesheet');
  link.setAttribute('href', '../../public/css/style.css');
  head.appendChild(link);
  const link2 = document.createElement('link');
  link2.setAttribute('rel', 'stylesheet');
  link2.setAttribute('href', '../../public/css/index_style.css');
  head.appendChild(link2);
</script>
