<div class="container-fluid my-5 py-5">
  <div class="row">
    <div class="col-md-4 mx-1">
      <div class="row">
        <div class="col-md text-center">
          <img src="../public/img/physics_books.png" class="rounded-circle" alt="environment logo" style="width: 200px" />
        </div>
      </div>
      <div class="row">
        <div class="col-md p-2 box-part">
          <h5 class="card-title text-center">Physics</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md p-2 box-part">
          <p class="card-text">Fisika membahas tentang hukum-hukum alam yang berlaku di alam semesta. Masalah yang berkaitan dengan fenomena-fenomena lingkungan dapat dipecahkan dengan pendekatan Fisika.</p>
          <p class="card-text"><small class="text-muted">Fisika (SEGERA HADIR)</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mx-1">
      <div class="row">
        <div class="col-md text-center">
          <img src="../public/img/sciencebible.png" class="rounded-circle" alt="sciencebible logo" style="width: 200px" />
        </div>
      </div>
      <div class="row">
        <div class="col-md p-2 box-part">
          <h5 class="card-title text-center">Science in The Bible</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md p-2 box-part">
          <p class="card-text">Banyak dari kita yang berpikir bahwa Sains dan Kekristenan tidak bisa disatukan. Tapi, apakah itu benar? apakah seorang Kristen tidak bisa benar-benar memahami Sains? Mari membongkar Sains dalam Alkitab.</p>
          <p class="card-text"><small class="text-muted">Sains dalam Alkitab (SEGERA HADIR)</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mx-1">
      <div class="row">
        <div class="col-md text-center">
          <img src="../public/img/www_logo.png" class="card-img-top rounded-circle text-center" alt="environment logo" style="width: 200px" />
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <h5 class="card-title text-center p-2 box-part">Web Development</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md p-2 box-part">
          <p class="card-text">Internet telah menjadi sarana kita dalam bertukar informasi. Kemampuan internet dalam menjangkau orang-orang di seluruh dunia memicu pengembangan web yang inovatif.</p>
          <p class="card-text"><small class="text-muted">Pengembangan Web (SEGERA HADIR)</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="card-group m-auto p-3 box-part">
    <div class="card bg-transparent border-0">
      <img src="../public/img/physics_books.png" class="card-img-top" alt="environment logo" />
      <div class="card-body">
        <h5 class="card-title">Physics</h5>
        <p class="card-text">Fisika membahas tentang hukum-hukum alam yang berlaku di alam semesta. Masalah yang berkaitan dengan fenomena-fenomena lingkungan dapat dipecahkan dengan pendekatan Fisika.</p>
        <p class="card-text"><small class="text-muted">Kuliah Fisika (SEGERA HADIR)</small></p>
      </div>
    </div>
    <div class="card bg-transparent border-0">
      <img src="../public/img/sciencebible.png" class="card-img-top" alt="technology logo" />
      <div class="card-body">
        <h5 class="card-title">Science in The Bible</h5>
        <p class="card-text">Banyak dari kita yang berpikir bahwa Sains dan Kekristenan tidak bisa disatukan. Tapi, apakah itu benar? apakah seorang Kristen tidak bisa benar-benar memahami Sains? Mari membongkar Sains dalam Alkitab.</p>
        <p class="card-text"><small class="text-muted">Kuliah Elektronika (SEGERA HADIR)</small></p>
      </div>
    </div>
    <div class="card bg-transparent border-0">
      <img src="../public/img/www_logo.png" class="card-img-top" alt="environment logo" />
      <div class="card-body">
        <h5 class="card-title">Web Development</h5>
        <p class="card-text">Internet telah menjadi sarana kita dalam bertukar informasi. Kemampuan internet dalam menjangkau orang-orang di seluruh dunia memicu pengembangan web yang inovatif.</p>
        <p class="card-text"><small class="text-muted">Kuliah Pengembangan Web (SEGERA HADIR)</small></p>
      </div>
    </div>
  </div> -->
