<div class="container my-5 py-5">
  <div class="card-group m-auto">
    <div class="card">
      <img src="../public/img/physics_books.png" class="card-img-top" alt="environment logo" />
      <div class="card-body">
        <h5 class="card-title">Physics</h5>
        <p class="card-text">Fisika membahas tentang hukum-hukum alam yang berlaku di alam semesta. Masalah yang berkaitan dengan fenomena-fenomena lingkungan dapat dipecahkan dengan pendekatan Fisika.</p>
        <p class="card-text"><small class="text-muted">Kuliah Fisika</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../public/img/electronics_logo.png" class="card-img-top" alt="technology logo" />
      <div class="card-body">
        <h5 class="card-title">Electronics</h5>
        <p class="card-text">Elektronika membahas tentang segala peristiwa kelistrikan. Ilmu elektronika mampu menyelesaikan permasalahan kelistrikan sekaligus membuat inovasi yang kreatif.</p>
        <p class="card-text"><small class="text-muted">Kuliah Elektronika</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../public/img/www_logo.png" class="card-img-top" alt="environment logo" />
      <div class="card-body">
        <h5 class="card-title">Web Development</h5>
        <p class="card-text">Internet telah menjadi sarana kita dalam bertukar informasi. Kemampuan internet dalam menjangkau orang-orang di seluruh dunia memicu pengembangan web yang inovatif.</p>
        <p class="card-text"><small class="text-muted">Kuliah Pengembangan Web</small></p>
      </div>
    </div>
  </div>
</div>
