<div class="container my-5 py-5 mx-auto">
  <form id="form" action="/api/auth/login" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="enter your username" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="enter your password" />
    </div>
    <button type="submit" class="btn btn-success">Login</button>
  </form>
</div>
