<section class="py-5">
  <!-- <h1>Hello World</h1> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 bg-secondary py-3">
        <h1>(Content)</h1>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      </div>
      <div class="col-10 py-3">
        <div class="row">
          <div class="col-4 mx-2">
            <div class="row row-cols-2">
              <div class="col py-2">
                <div class="card h-100 bg-light shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col py-2">
                <div class="card h-100 bg-light shadow-sm">
                  <h5 class="card-header">Featured</h5>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col py-2">
                <div class="card h-100 bg-light shadow-sm">
                  <h5 class="card-header">Featured</h5>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col py-2">
                <div class="card h-100 bg-light shadow-sm">
                  <h5 class="card-header">Featured</h5>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 bg-light shadow-sm rounded my-2">
            <p>Most Important tech indicator</p>
            <h1>Coba isi</h1>
          </div>
          <div class="col bg-light shadow-sm rounded mx-2 my-2"><p>Journals</p></div>
        </div>
        <div class="row ms-2">
          <div class="col-2 bg-light shadow-sm rounded">Chat <br /><br /><br /><br /><br /></div>
          <div class="col bg-light shadow-sm rounded mx-2">Asia Tech Indicator <br /><br /><br /><br /><br /></div>
          <div class="col bg-light shadow-sm rounded me-2">Asean Tech Indicator <br /><br /><br /><br /><br /></div>
        </div>
        <div class="row ms-2 my-2">
          <div class="col bg-light shadow-sm rounded">Transportation <br /><br /><br /><br /><br /></div>
          <div class="col bg-light shadow-sm rounded mx-2">Energy <br /><br /><br /><br /><br /></div>
          <div class="col bg-light shadow-sm rounded me-2">Medical <br /><br /><br /><br /><br /></div>
          <div class="col bg-light shadow-sm rounded me-2">Communication <br /><br /><br /><br /><br /></div>
        </div>
        <div class="row ms-2">
          <div class="col bg-light shadow-sm rounded">Electronics <br /><br /><br /><br /><br /></div>
          <div class="col bg-light shadow-sm rounded mx-2">Food Tech <br /><br /><br /><br /><br /></div>
          <div class="col bg-light shadow-sm rounded me-2">Theory <br /><br /><br /><br /><br /></div>
          <div class="col bg-light shadow-sm rounded me-2">Geo & Astro <br /><br /><br /><br /><br /></div>
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      </div>
    </div>
  </div>
</section>
