.landing-head {
  overflow: hidden;
}
.landing-desc {
  overflow: hidden;
}
.landing-desc p {
  transform: translateY(300px);
  animation: slideUp 0.8s ease-in-out forwards 0.8s;
}
.landing-head h1 {
  transform: translateY(200px);
  background-position: center;
  animation: slideUp 0.8s ease forwards 0.5s;
}
.jumbotron-button {
  overflow: hidden;
}
.porto-button {
  transform: translateY(50px);
  animation: slideUp 0.8s ease-in-out forwards 1s;
}
.github-button {
  transform: translateY(50px);
  animation: slideUp 0.8s ease-in-out forwards 1.2s;
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

.latest-feeds .card {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
}

.latest-feeds .card:hover {
  transform: scale(1.05);
}

#services {
  background-color: rgb(20, 20, 20);
}
