.navi-button {
  transition: all 0.2s ease-in-out;
}

.navi-button:hover {
  transform: scale(1.1);
}

#google_translate_element {
  position: absolute;
  right: 20px;
  top: 70px;
  z-index: 1;
}
body {
  background-image: url(https://niel-personal-website.herokuapp.com/public/img/Colorgradation.png);
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
